{% import "_includes/forms" as forms %}

{# Define the plugin name to use in the description or use generic sentance #}
{% set pluginName	= ( settings.pluginName is defined ) ? settings.pluginName : "this plugin" %}
{% set originUrl	= ( settings.akismetOriginUrl|length ) ? settings.akismetOriginUrl : siteUrl %}

{% block content %}

	<h2 style="text-transform: uppercase;">ABOUT {{ craft.spamguard.getName() }} <b style="color: #d00;">{{ craft.spamguard.getVersion() }}</b></h2>
	<p>
		<em>{{ craft.spamguard.getName() }}</em> allows you to harness the power of
		<a href="http://akismet.com">Akismet</a> to help you fight <strong>spam</strong>
	</p>

	<hr>

	<h3>PLUGIN SETTINGS</h3>
	{{
		forms.textField({
			id:				"pluginNickname",
			name:			"pluginNickname",
			label:			"Plugin Nickname"|t,
			instructions:	"Rename <em>#{pluginName}</em> to something easier for you to remember."|t,
			value:			settings.pluginNickname,
			first:			false,
			autofocus:		false,
			errors:			""
		})
	}}
	{{
		forms.textField({
			id:				"akismetApiKey",
			name:			"akismetApiKey",
			label:			"Akismet API Key"|t,
			instructions:	"The <a href='http://akismet.com'>Akismet</a> service requires a <em>WordPress</em> API Key."|t,
			value:			settings.akismetApiKey,
			first:			true,
			autofocus:		true,
			errors:			""
		})
	}}
	{{
		forms.textField({
			id:				"akismetOriginUrl",
			name:			"akismetOriginUrl",
			label:			"Origin URL"|t,
			instructions:	"Your website (<a href='#{siteUrl}'>#{siteUrl}</a>) or blog URL"|t,
			value:			originUrl,
			first:			false,
			autofocus:		false,
			errors:			""
		})
	}}

	<hr>

	<h3>FORM SETTINGS</h3>
	{{
		forms.textField({
			id:				"subjectPrefix",
			name:			"subjectPrefix",
			label:			"Message Subject"|t,
			instructions:	"The subject to prefix the posted subject with"|t,
			value:			settings.subjectPrefix,
			first:			false,
			autofocus:		false,
			errors:			""
		})
	}}
	{{
		forms.textField({
			id:				"sendToName",
			name:			"sendToName",
			label:			"Rescipient Name"|t,
			instructions:	"What is the name of the person that the message should be sent to?"|t,
			value:			settings.sendToName,
			first:			false,
			autofocus:		false,
			errors:			""
		})
	}}
	{{
		forms.textField({
			id:				"sendToEmail",
			name:			"sendToEmail",
			label:			"Rescipient Email"|t,
			instructions:	"What is the email of the person that the message should be sent to?"|t,
			value:			settings.sendToEmail,
			first:			false,
			autofocus:		false,
			errors:			""
		})
	}}
	{{
		forms.textareaField({
			id:				"emailTemplate",
			name:			"emailTemplate",
			rows:			15,
			label:			"Email Templates"|t,
			instructions:	"Get crafty creating a nice email template which will have access to the <b>author, email, subject, and content</b>."|t,
			value:			settings.emailTemplate,
			first:			false,
			autofocus:		false,
			errors:			""
		})
	}}

	<p>
		&copy; {{ "now" | date("Y") }} {{ pluginName }} <em>by</em>
		<a href="http://twitter.com/selvinortiz" title="@selvinortiz" target="_blank">Selvin Ortiz</a>
	</p>

{% endblock %}

{% set editorJs %}
	window.onload = function() {
		var editor = new Behave({
			textarea: 		document.getElementById('emailTemplate'),
			replaceTab: 	true,
			softTabs: 		true,
			tabSize: 		4,
			autoOpen: 		true,
			overwrite: 		true,
			autoStrip: 		true,
			autoIndent: 	true
		});
	};
{% endset %}

{% set editorCss %}
	#emailTemplate {
		color: #111;
		font: normal 12px/20px monospace;
	}
 {% endset %}

{% includeCss editorCss %}
{% includeJs editorJs %}
{% includeJsResource('spamguard/js/behave.js') %}
